h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 150%;
    
}



h1 {
    color: #fff;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.64px;
}

h2 {
    color: #2f3133;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.32px;
}

h3 {
    color: #2f3133;
    font-size: 1.8rem;
    font-weight: 600;

}
